* {
    box-sizing: border-box;
}

body {
    background-image: url("./fankit_Valentine Day.png");
    background-size: cover;
    background-position: center center;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 2em;
}

#title {
    text-align: center;
}

#title h1{
    font-size: 30px;
    color: white;
    font-family: 'Righteous', cursive;
    padding: 10px 50px;
    border: 5px solid black;
    border-top-right-radius: 30px;
    text-shadow: 3px 3px 2px gray;
}

#wrapper {
    background-color: ghostwhite;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    text-align: left;
}

#sub_title {
    text-align: center;
}

#sub_title  h2{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid #36648b;
    padding: 9px 40px;
    border-radius: 15px;
}

#sub_title h2:hover {
    text-align: center;
    border: 2px solid #36648b;
    padding: 9px 40px;
    border-radius: 15px;
    background-color: skyblue;
    color: white;
}

.content p, li{
    margin: 10px;
	padding: 5px;
	border-radius: 10px;
}

.content p:hover {
    margin: 10px;
	padding: 5px;
	border-radius: 10px;
	background: #ced4da;
}

.content li:hover {
    margin: 10px;
	padding: 5px;
	border-radius: 10px;
	background: #ced4da;
}

.con_title {
	border-radius: 25px;
	background-color: mediumseagreen;
	padding: 3px 10px;
	display: inline-block;
	color: aliceblue;
	font-weight: bold;
	text-shadow: 1px 1px black;
}

.reward_ul {
	list-style: none;
	padding-left: 10px;
}

.reward_ul li {
	font-weight: bold;
}

.footer{
	vertical-align: middle;
	text-align: center;
	border-top: 2px solid gray;
	margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer p:first-child {
	font-weight: bold;
}

.footer a:nth-child(2) {
	text-decoration: underline;
	color: orangered;
	font-weight: bold;
}

.footer_under {
    text-align: center;
    margin-bottom: 10px;
}
#donate {
	display: none;
	background-color: mediumseagreen;
	color: white;
	text-shadow: 1px 1px black;
	border-radius: 20px;
	padding: 10px;
	text-decoration: none;
}

@media (min-width:768px) {
		#title h1{
		font-size: 40px;
		color: white;
		font-family: 'Righteous', cursive;
		padding: 10px 50px;
		border: 5px solid black;
		border-top-right-radius: 30px;
		text-shadow: 3px 3px 2px gray;
	}
}

